

.app-container{
    display: flex ; 
    height: 100vh ;
    overflow: hidden ; 
}


.sidebar{
    width: 250px;
    background-color: var(--bg-sidebar);
    color: var(--text-primary);
    border-right: 1px solid var(--border-color);
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
   
}

.search-bar{
    display:flex;
    align-items:center;
    background-color: var(--bg-card);
    
}